<router-outlet></router-outlet>
<!-- <header class="row spacing">
    <nav class="col-md-8 col-md-offset-2" >
        <ul class="nav nav-tabs">
            <li *ngIf="isLogedIn() && isAdmin()"><a routerLink="./SignUp">Sigup</a></li>
            <li *ngIf="!isLogedIn()"><a routerLink="./Login">Login</a></li>
            <li *ngIf="isLogedIn()"><a routerLink="./Logout">Logout</a></li>
        </ul>
    </nav>
    <div class="row spacing">
        <router-outlet></router-outlet>
    </div>
</header> -->


